body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content: center;
    background: url("https://wallpapercave.com/wp/wp3158861.jpg");
    background-size: cover;
    overflow: hidden;
}
h1{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
    margin-bottom: auto;
    color:white;
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 150px;
    height: 95px;
    background-color: rgb(174, 23, 12);
    opacity: .8;
    color: rgb(3, 0, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(2, 55, 0,0.5);
}
.clock span.text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(226, 238, 226);
    opacity: 0.8;
}
.clock #ampm{
position: absolute;
    width: 50px;
    height: 20px;
    font-size: 20px;
    background: rgb(227, 236, 227);
}